<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/base.css">
    <title>Document</title>
</head>

<body>


    <div id="header-div">
        <h1>Best Books!</h1>
        <nav>
            <img src="" alt="">
        </nav>
    </div>
    <div id="second-header-div">
        <h3>
            Search Results
        </h3>
    </div>

    <% arrayOfItems.forEach((value)=> { %>

        <div class="container">
            <div class="image">
                <img src="<%= value.thumbnail%>" alt="">
            </div>
            <div class="title-and-author">
                <h3>
                    <%= value.title%>
                </h3>
                <ul>

                    <li>
                        <%= value.authors%>
                    </li>

                </ul>
            </div>

            <div class="description">
                <p>
                    <%= value.description%>
                </p>
            </div>
            <div>
                <form action="/books" method="POST">
                    <input type="hidden" value="<%= value.title%>">
                    <input type="hidden" value="<%= value.authors%>">
                    <input type="hidden" value="<%= value.description%>">
                    <input type="hidden" value="<%= value.type%>">
                    <button type="submit">Add To Favorite</button>
                </form>

            </div>
        </div>
        <% });%>
</body>

</html>